<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Entrada para {{ fiesta }}</title>
</head>
<body>
    <div style="text-align: center;">
        <img style="height: 331px;" src="{{ imagen }}" alt="Imagen de la fiesta">
        <h1>Hola {{ usuario }},</h1>
        <p>Aquí tienes tu entrada para la fiesta <strong>{{ fiesta }}</strong>, que tendrá lugar el día {{ fecha }} en {{discoteca}}.</p>
        <p>Recuerda llevar contigo la entrada impresa o en formato digital en tu dispositivo móvil para poder acceder al evento. También es importante que traigas contigo tu DNI para verificar tu identidad.</p>
        <p>¡Diviértete!</p>
        <br>
        
    </div>
</body>
</html>
