<html>
    <head>

    </head>
    <body>
        <div style="text-align: center;">
        <img style="height: 331px; width: 300px;" src="{{imagen}}" alt="">
        <h1>¡Hola {{usuario}}!</h1>
        <p>Estamos emocionados de invitarte a nuestra fiesta {{fiesta}} en {{discoteca}} el {{fecha}}. ¡Esta va a ser una noche increíble que no te puedes perder!

            Tendremos música en vivo de algunos de los mejores DJs de la ciudad, bebidas deliciosas y mucho más. ¡No querrás perderte esto!
            
            Las entradas están disponibles para su compra en línea en <a href="{{url}}">{{url}}</a>. Asegúrate de comprar tus entradas pronto, ya que se espera que este evento se agote rápidamente.
            
            Esperamos verte en la fiesta {{fiesta}} en {{discoteca}} el {{fecha}}. ¡Vamos a pasar una noche increíble juntos!
            </p>
        </div>
        
        
    </body>
</html>