{% extends "menu.html" %}

{% block titulo %} Fiestas {% endblock %}

{% block contenido %}   


<div class="container margen margenAbajo ">

    <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for fiesta in fiestas %}
        <div class="col">
          <div class="card transi">
            <a href="{% url 'fiesta' fiesta.fiestaId %}">
              <div class="position-relative">
                <img src="{{fiesta.foto.url}}" class="card-img-top carta" alt="...">
                <div class="badge badge-red">
                  {% if fiesta.entradas_disponibles == 0 %}
                    Sin stock
                  {% else %}
                    {{ fiesta.entradas_disponibles }} entradas disponibles
                  {% endif %}
                </div>
              </div>
            </a>
            <div class="card-body alturaCarta">
              <h5 class="card-title">{{fiesta.nombre}} - {{fiesta.discotecaId.nombre}} </h5>
              <hr>
              <p class="card-text"><b>Precio:</b> {{fiesta.precio}} €</p>
              <p class="card-text"><b>Fecha:</b> {{fiesta.fecha|date:"l, d \d\e F \d\e Y"}} </p>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>

</div>


{% endblock %} 