{% extends "menu.html" %}

{% block titulo %} Fiesta {% endblock %}

{% block contenido %}   

<div class="container3 margen margenAbajo">

{% if messages and x %}
    {% if fiesta.entradas_disponibles == 0 %}
        <script type="text/javascript">
        Swal.fire({
            title: 'Advertencia',
            icon: 'warning',
            html: 'No quedan entradas disponibles para la fiesta {{mensaje}}',
            showCloseButton: true,
            showCancelButton: false,
            focusConfirm: false,
            confirmButtonText: 'OK'
        })
        </script>
    {% else %}
        <script type="text/javascript">
        Swal.fire({
            title: 'Advertencia',
            icon: 'warning',
            html: 'Solo quedan {{fiesta.entradas_disponibles}} entradas disponibles para la fiesta {{mensaje}}',
            showCloseButton: true,
            showCancelButton: false,
            focusConfirm: false,
            confirmButtonText: 'OK'
        })
        </script>
    {% endif %}
    
{% endif %}
    <div class="row ">
        <div class="col-md-4">

            <img src="{{fiesta.foto.url}}" alt="" class="compraImagen">

        </div>

        <div class="col">

            <div class="tituloFiesta">
                <h1>{{fiesta.nombre}} </h1>
                <hr>
            </div>

            <div class="row">
                <div class="col">
                    <div class="infoFiesta">
                        <p> <strong>Discoteca:</strong> {{fiesta.discotecaId.nombre}} </p>
                        
                        <p> <strong>Precio:</strong> {{fiesta.precio}} € (Incluye una consumicion) </p>
        
                        <p> <strong>Fecha:</strong> {{fiesta.fecha|date:"l, d \d\e F \d\e Y"}} </p>

                        <p></p>
                    </div>
                </div>

                <div class="col">

                    <div class="compraEntrada" >

                        {% include 'formulario.html' %}
                        
                    </div>

                </div>

            </div>

        </div>
    </div>
    <br>

    <div class="descripcionEntrada">
       {{fiesta.descripcion|safe}}

    </div>

</div>


<script>

    function cambiarPrecio(){
        var entrada;
        entrada=document.getElementById("entrada").value;

        if(entrada=="R"){
            texto=document.getElementsByClassName("infoFiesta")[0].children[1].innerHTML=" <strong>Precio:</strong> {{fiesta.precio_reservado}} € {{fiesta.info_reservado}} "
            document.getElementsByClassName("infoFiesta")[0].children[3].innerHTML=" <strong> Maximo {{fiesta.personas_reservado}} personas  </strong> "
        }else{
            texto=document.getElementsByClassName("infoFiesta")[0].children[1].innerHTML=" <strong>Precio:</strong> {{fiesta.precio}} € (Incluye una consumicion) "
            document.getElementsByClassName("infoFiesta")[0].children[3].innerHTML=""
        }
    }

</script>



{% endblock %} 