{% extends "menu.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}   


<div id="carouselExampleInterval" class="carousel slide  " data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/media/imagenes/Discoteca-Piccadilly.jpg" class="d-block w-100 imagencarousel" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/media/imagenes/original.jpg" class="d-block w-100 imagencarousel" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/media/imagenes/16625684758476.jpg" class="d-block w-100 imagencarousel" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

<div class="inicio">

  <h4>
      Aquí encontraras las mejores fiestas de la zona
      <br>
      no esperes y unete para ser el mas fiestero
  </h4>

</div>




{% endblock %} 