{% extends "menu.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block titulo %} Iniciar Sesion {% endblock %}

{% block contenido %}   

<div class="container abajo">
    <div class="encuadre">
        <div class="wrapper">
            <div class="formu">
                <form enctype="multipart/form-data" method="post">
                    <h2 class="tituloLogin">Iniciar Sesion</h2>
                    {% csrf_token %}
                    {% for campo in formulario %}
                        <div class="opciones">
                            <input type="{{campo.field.widget.input_type}}" value="{{campo.value | default:'' }}" name="{{campo.name}}" required> 
                            <label for="">{{campo.label}}</label>
                        </div>
                        <div class="col-12 help-text">{{campo.errors}}</div>
                    {% endfor %}
                    <!--<div class="opciones">
                        <input type="password" required>
                        <label for="">Contraseña</label>
                    </div>-->
                    <div class="remember">
                        <label><input type="checkbox">Recuerdame</label>
                    </div>
                    <button class="btnLogin" type="submit">Iniciar sesion</button>
                    <div class="registrolink">
                        <p>¿No tienes cuenta? <a href="{% url 'registrar' %}" class="">Registrate</a></p>
                    </div>
                    <div class="social">
                        <p>O inicia sesion con</p>
                        <div class="socialiconos">
                            <a href="{% provider_login_url 'facebook'  %}"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="{% provider_login_url 'google'  %}"><i class="fa-brands fa-google"></i></a>
                            <a href="{% provider_login_url 'github'  %}"><i class="fa-brands fa-github"></i></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>      
    
</div>
 



{% endblock %} 