{% extends "menu.html" %}

{% block titulo %} Exito {% endblock %}

{% block contenido %}

<section>
    <div class="encuadre">
        <div class="gracias">
            <h1>¡Gracias por tu Compra!</h1>
            <p class="thank-you">Tu transacción ha sido exitosa.</p>
            <p>Las entradas serán enviadas a tu correo electrónico.</p>
            <div class="footer">
                <p>¡Esperamos que disfrutes del evento!</p>
            </div>
        </div>
    </div>

</section>



{% endblock %}